[Desktop Entry]
Encoding=UTF-8
Name=Uptimer
Comment=System uptime display
Icon=cpu
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Dito
X-KDE-PluginInfo-Email=bundito@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=com.bundito.uptimer
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://github.com/bundito/uptimer
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Windows and Tasks
